body {
  color: #fcfcfc;
  background-color: #232323;
}

.sig-name.descname {
  color: #b4e65c;
}

.sig-prename.descclassname {
  color: #fffefe;
}

.md-typeset {
  background-color: unset;
}

.md-typeset .codehilitetable .linenos pre,
.md-typeset .highlighttable .linenos pre {
  color: #FCFCFC;
}

.md-typeset .footnote {
  color: rgba(255, 255, 255, 0.83);
  font-size: .64rem
}

span.highlighted {
  background-color: #794502;
}

.highlight-shell.notranslate .highlight pre {
  color:#fcfcfc;
}

.highlight .cpf {
  color: #B88451;
}

.md-typeset blockquote{
  border-left:.2rem solid rgb(153, 153, 153);
  color:rgb(202, 202, 202);
}

.md-typeset .admonition.tip .admonition-title::before,
.md-typeset .admonition.hint .admonition-title::before {
  content: "\E80C";
}

.md-typeset .admonition.seealso .admonition-title::before {
  content: "\E417";
  color: hsl(301, 100%, 63%);
}

.md-typeset .admonition.seealso {
  border-left:.2rem solid hsl(301, 100%, 63%);
}

.md-typeset .admonition.seealso .admonition-title {
  background-color:hsla(287, 100%, 63%, 0.1);
}

.md-typeset .admonition.important .admonition-title::before {
  content: "\E031";
  color: hsl(123, 100%, 63%);
}

.md-typeset .admonition.important {
  border-left:.2rem solid hsl(123, 100%, 63%);
}

.md-typeset .admonition.important .admonition-title {
  background-color:hsla(123, 100%, 63%, 0.1);
}

.md-typeset .admonition.warning .admonition-title::before {
  color: hsl(0, 100%, 63%);
}

.md-typeset .admonition.warning {
  border-left:.2rem solid hsl(0, 100%, 63%);
}

.md-typeset .admonition.warning .admonition-title {
  background-color:hsla(0, 100%, 63%, 0.1);
}

.sig-name.descname,
.sig-prename.descclassname {
  background-color: #403f3f;
}

.docutils.literal.notranslate {
  background-color: hsla(0, 0%, 0%, 0);
  color: #50e60c;
}

.reference.internal .docutils.literal.notranslate .pre {
  color: #2196f3;
}

html body .md-typeset .headerlink {
  color: rgb(94, 172, 15);
}

@media only screen and (max-width: 76.1875em) {
  .md-nav {
    background-color: #393939;
  }
}

@media only screen and (max-width:76.1875em) {
  html .md-nav .md-nav--secondary .md-nav__title {
    background-color: rgb(0, 107, 9);
    color: rgb(255, 255, 255);
  }
}

.md-nav__link[data-md-state="blur"] {
  color: rgb(150, 125, 238);
}

.md-nav {
  font-size: 0.8rem;
}

.md-typeset h1 {
  color: rgb(255, 255, 255);
}

html .md-nav--primary .md-nav__title--site .md-nav__button {
  top: 0;
  left: 0;
  width: inherit;
  height: auto;
}

html .md-nav--primary .md-nav__title~.md-nav__list {
  background-color: #fff0;
}

.md-nav span.caption {
  background-color: #172353;
}

[data-md-color-primary=blue] .md-tabs {
  background-color: #006b09;
}

[data-md-color-primary=blue] .md-header,
[data-md-color-primary=blue] .md-hero {
  background-color: #006b09;
}

html [data-md-color-primary=blue] .md-nav--primary .md-nav__title--site {
  background-color: #006B09;
}

.md-typeset table:not([class]) th {
  background-color:rgba(23, 35, 83, 0.8);
}

.md-typeset table:not([class]) tr:hover {
  background-color:rgba(56, 2, 81, 0.8);
  box-shadow:inset 0 .05rem 0 #9515ff;
}

table {
  background-color: hsl(0, 0%, 16%);
}