name: Release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  upload-release-assets:
    runs-on: ubuntu-latest
    steps:
      - name: Translate Repo Name For Build Tools filename_prefix
        id: repo-name
        run: |
          echo ::set-output name=repo-name::$(
          echo ${{ github.repository }} |
          awk -F '\/' '{ print tolower($2) }' |
          tr '_' '-'
          )

      - name: Translate Repo Name For Build Tools package_prefix
        id: pkg-name
        run: |
          echo ::set-output name=pkg-name::$(
          echo ${{ github.repository }} |
          awk -F '\/' '{ print tolower($2) }'
          )

      - name: Set up Python 3.x
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Checkout Current Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Checkout tools repo
        uses: actions/checkout@v3
        with:
          repository: adafruit/actions-ci-circuitpython-libs
          path: actions-ci

      - name: Install deps
        run: |
          source actions-ci/install.sh

      - name: Build assets
        run: circuitpython-build-bundles --filename_prefix ${{ steps.repo-name.outputs.repo-name }} --package_folder_prefix ${{ steps.pkg-name.outputs.pkg-name }} --library_location .

      - name: Archive bundles
        if: github.event_name == 'workflow_dispatch' && github.repository == 'nRF24/CircuitPython_nRF24L01'
        uses: actions/upload-artifact@v3
        with:
          name: bundles
          path: ${{ github.workspace }}/bundles/

      - name: Upload Release Assets
        if: github.event_name != 'workflow_dispatch' && github.repository == 'nRF24/CircuitPython_nRF24L01'
        # the 'official' actions version does not yet support dynamically
        # supplying asset names to upload. @csexton's version chosen based on
        # discussion in the issue below, as its the simplest to implement and
        # allows for selecting files with a pattern.
        # https://github.com/actions/upload-release-asset/issues/4
        #uses: actions/upload-release-asset@v1.0.1
        uses: csexton/release-asset-action@master
        with:
          pattern: "bundles/*"
          github-token: ${{ secrets.GITHUB_TOKEN }}

  upload-pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Build distributions
        run: python -m build

      - name: Check distributions
        run: twine check dist/*

      - name: Publish package (to TestPyPI)
        if: github.event_name == 'workflow_dispatch' && github.repository == 'nRF24/CircuitPython_nRF24L01'
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_TOKEN }}
        run: twine upload --repository testpypi dist/*

      - name: Publish package (to PyPI)
        if: github.event_name != 'workflow_dispatch' && github.repository == 'nRF24/CircuitPython_nRF24L01'
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: twine upload dist/*
